img{
    border-radius: 50%;
}

h2{
    color: blueviolet;
}

h4{
    padding: 0.5rem 1rem;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
    margin: 10px;
    margin-left: 0;
}